---
import { FormType } from "@/interfaces/FormType";
import Input from "../form/Input.astro";
import Select from "../form/Select.astro";
import { actions } from "astro:actions";
import Alert from "../ui/Alert.astro";
import ScreenLoader from "./ScreenLoader.astro";

interface Props {
  formType: FormType;
}
const { formType } = Astro.props;

// action to get the list of events
// const evetntList = Astro.getActionResult();
const { data } = await Astro.callAction(actions.getEvents, {});

const result = Astro.getActionResult(actions.sendEmail);
---

<div class="container mx-auto mt-4 px-4 max-w-[50rem]">
  <div class="max-h-40 overflow-auto mb-2">
    {
      !!result?.error && (
        <Alert
          alertTitle="Error!"
          html={result?.error.message.replaceAll(", ", "<br />")}
          type="error"
        />
      )
    }
  </div>

  <form
    id="registrationForm"
    method="post"
    action={actions.sendEmail}
    class="grid grid-cols-2 gap-8 [&>div]:col-span-2 lg:[&>div]:col-span-1"
  >
    <Select
      id="formType"
      name="formType"
      label="Tipo de Formulario"
      options={(data || []).map((item) => ({
        value: item.event_type.toString(),
        label: item.event_type,
      }))}
    />

    <Input id="name" name="name" label="Nombre" placeholder="Nombre" />

    <Input
      id="lastName"
      name="lastName"
      label="Apellido"
      placeholder="Apellido"
    />

    <Input id="cedula" name="cedula" label="Cédula" placeholder="Cédula" />

    <Input
      id="bornDate"
      name="bornDate"
      label="Fecha de Nacimiento"
      placeholder="Fecha de Nacimiento"
      type="date"
    />

    <Input
      id="email"
      type="email"
      name="email"
      label="Email"
      placeholder="Email"
    />

    <Input
      id="tel"
      type="tel"
      name="phone"
      label="Teléfono"
      placeholder="Teléfono"
    />

    <Input id="city" name="city" label="Ciudad" placeholder="Ciudad" />

    <Select
      id="major"
      name="major"
      label="Especialidad"
      options={[
        { value: "Eléctrico", label: "Eléctrico" },
        { value: "Metalmecánico", label: "Metalmecánico" },
        { value: "Mecánico Automotriz", label: "Mecánico Automotriz" },
        { value: "Línea Madera", label: "Línea Madera" },
        { value: "Jardinería", label: "Jardinería" },
        { value: "General", label: "General" },
      ]}
    />

    <Select
      id="businessType"
      name="businessType"
      label="Tipo de Negocio"
      options={[
        { value: "Ferretería", label: "Ferretería" },
        {
          value: "Constructora - Contratista",
          label: "Constructora - Contratista",
        },
        { value: "Industria", label: "Industria" },
        { value: "Independiente", label: "Independiente" },
        { value: "Otros", label: "Otros" },
      ]}
    />

    <!-- <Input
      id="invoiceNumber"
      name="invoiceNumber"
      label="Número de Factura"
      type="date"
      placeholder="Número de Factura"
    /> -->

    <!-- <Input
      id="buyingAmount"
      name="buyingAmount"
      label="Monto de Compra"
      placeholder="Monto de Compra"
    />

    <Input
      id="buyDate"
      name="buyDate"
      label="Fecha de Compra"
      type="date"
      placeholder="Fecha de Compra"
    />

    <Input
      id="invoiceImg"
      name="invoiceImg"
      label="Imágen de la Factura"
      placeholder="Imágen de la Factura"
      type="file"
    /> -->

    {
      formType === FormType.CAPACITACION && (
        <Input
          id="formType"
          name="file"
          label="Imágen de Factura"
          type="file"
        />
      )
    }

    <!-- <div class="h-0 w-0 overflow-hidden col-span-2">
      <Input id="formType" name="formType" value={formType} type="hidden" />
    </div> -->

    <button
      id="btn-form"
      type="submit"
      class="bg-amber-300 px-12 py-2 rounded-md font-bold mx-auto text-center text-lg hover:bg-amber-400 transition-colors col-span-2"
    >
      Registrarme
    </button>
  </form>

  {
    !!result?.data && (
      <Alert
        alertTitle="Éxito!"
        alertMessage="Te has registrado correctamente, se te enviará un correo con los datos de la inscripción."
      />
    )
  }

  <!-- <TriggerToast client:load trigger={result} showToast={!!result?.error} /> -->

  <ScreenLoader />
</div>

<script>
  // document.addEventListener("DOMContentLoaded", () => {
  // const form = document.getElementById("registrationForm") as HTMLFormElement;
  // const btnForm = document.getElementById("btn-form") as HTMLButtonElement;
  // const loader = document.getElementById("loader") as HTMLDivElement;

  // btnForm.addEventListener("click", () => {
  //   console.log('click');
  // });

  // form.addEventListener("submit", () => {
  //   console.log("submit");

  //   loader.classList.remove("hidden");
  // });
  // });

  window.onload = () => {
    const form = document.getElementById("registrationForm") as HTMLFormElement;
    const loader = document.getElementById("loader") as HTMLDivElement;

    form.addEventListener("submit", (event) => {
      // event.preventDefault(); // Para evitar el comportamiento predeterminado
      loader.classList.remove("hidden");

      // Si decides enviar el formulario manualmente, hazlo aquí
      // form.submit();
    });
  };
</script>
