---
import ContacForm from '../components/ContacForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="container mx-auto mt-28 px-4 pb-[10rem] max-w-[50rem]">
    <h1 class="text-3xl font-bold text-center">Formulario de Inscripción</h1>
  
    <ContacForm />
  </div>
</Layout>


