---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/ui/Navbar.astro";
import Carousel from "@/components/brands/Carousel.astro";
import { HomeAccordionContent } from "@/components/home/HomeAccordionContent";
---

<Layout>
	<section
		class="flex flex-col items-center justify-center text-center w-full relative"
	>
		<!-- NAVBAR FROM CHILD -->
		<div
			slot="navbar"
			class="top-0 left-0 absolute w-full h-[calc(100vh-380px)]"
		>
			<Navbar title="Centro de Entrenamiento SBD" />
		</div>

		<div class="flex flex-col items-center justify-center w-full">
			<video
				transition:persist
				src="/assets/vids/video.mp4"
				autoplay
				loop
				muted
				class="object-cover min-h-dvh w-full object-center"></video>

			<div
				class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center"
			>
			</div>

			<div
				class="absolute -bottom-20 left-0 right-0 z-10 bg-amber-300 max-w-fit rounded-md px-12 2xl:px-8 py-4 text-center mx-auto flex flex-col items-center justify-center gap-2 shadow-md"
			>
				<p class="font-semibold mt-4">Hechos para durar</p>
				<h1 class="font-bold text-3xl md:text-4xl">Nuestras Marcas</h1>
				<p class="text-xs md:text-lg md:text-nowrap mb-2">
					Dedicados a hacer herramientas grandes y hacer un mejor mundo.
				</p>

				<div class="block 2xl:hidden">
					<Carousel />
				</div>

				<div
					class="2xl:flex items-center justify-center gap-4 my-2 [&>a>div]:w-[200px] [&>a>div]:h-[200px] [&>a>div]:bg-white [&>a>div]:shadow-lg [&>a>div]:rounded-md hidden"
				>
					<a href="/marcas/black-decker">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/black-and-decker-logo.svg"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-contain"
							/>
						</div>
					</a>

					<a href="/marcas/dewalt">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/dewalt-logo.svg"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-contain rounded-md"
							/>
						</div>
					</a>

					<a href="/marcas/stanley">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/stanley-logo.svg"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-contain rounded-md"
							/>
						</div>
					</a>

					<a href="/marcas/craftsman">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/craftsman-logo.svg"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-contain rounded-md"
							/>
						</div>
					</a>

					<a href="/marcas/irwin">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/irwin-logo.jpg"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-cover rounded-md"
							/>
						</div>
					</a>

					<a href="/marcas/proto">
						<div
							class="overflow-hidden rounded-xl flex items-center justify-center"
						>
							<img
								src="/assets/brands/proto-logo.png"
								alt="Dewalt"
								class="w-[95%] h-[95%] object-contain rounded-md bg-[#EE2E1E]"
							/>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<div class="container mx-auto mt-28 px-4 pb-[10rem]">
		<section class="text-lg">
			<p>
				El Centro de Entrenamiento SBD es una plataforma de capacitación y
				comunicación, diseñada especialmente para maestros, profesionales y
				contratistas de la construcción en Ecuador.
			</p>

			<p>
				También es una Comunidad Activa , que al unirte, podrás mantenerte
				actualizado, participar en eventos y obtener beneficios exclusivos que
				te dan ventajas reales para tu trabajo diario.
			</p>

			<p>
				En el ecosistema CESBD impulsamos marcas innovadoras de renombre como:
				Black & Decker, Stanley, DeWALT, Craftsman, Irwin y Proto.
			</p>
		</section>

		<section class="mt-10">
			<h2 class="font-semibold text-3xl">¿Qué ofrecemos?</h2>

			<p class="mt-4">
				CESBD no solo brinda formación técnica, sino también una comunidad
				vibrante y beneficios exclusivos que transforman la experiencia de los
				especialistas en el sector, para crecer profesionalmente y potenciar tu
				carrera.
			</p>
		</section>

		<section>
			<HomeAccordionContent client:load />
		</section>
	</div>
</Layout>
