---
import "@/styles/global.css";
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>Centro de Entrenamiento SBD</title>
</head>
<body>
  <p 
    class="text-center text-xl md:text-xl font-bold text-gray-800 mb-4 max-w-[500px] mx-auto mt-12"
  >
    En el CESBD, nos comprometemos a proteger la información personal de nuestros
    usuarios. Los datos proporcionados durante el registro y participación en nuestras
    actividades serán tratados con estricta confidencialidad y únicamente para fines de
    capacitación, promociones y comunicación relacionados con nuestros servicios.
    Implementamos medidas de seguridad para garantizar la integridad y protección de
    tu información.
  </p>
</body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
