---
import Input from "./form/Input.astro";
import Select from "./form/Select.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.getGreeting);

export const prerender = false;
---

<div class="container mx-auto mt-4 px-4 max-w-[50rem]">
  <form
    method="post"
    action={actions.getGreeting}
    class="grid grid-cols-2 gap-8 [&>div]:col-span-1"
  >
    <Input id="cedula" name="cedula" label="Cédula" placeholder="Cédula" />

    <Input id="name" name="name" label="Nombres" placeholder="Nombre" />

    <Input
      id="lastName"
      name="lastName"
      label="Apellidos"
      placeholder="Apellido"
    />

    <Input
      id="bornDate"
      name="bornDate"
      label="Fecha de Nacimiento"
      type="date"
      placeholder="Fecha de Nacimiento"
    />

    <Input
      id="firstname"
      type="email"
      name="email"
      label="Email"
      placeholder="Email"
    />

    <Input
      id="tel"
      type="tel"
      name="phone"
      label="Teléfono"
      placeholder="Teléfono"
    />

    <Select
      id="major"
      name="major"
      label="Especialidad"
      options={[
        { value: "1", label: "Eléctrico" },
        { value: "2", label: "Metalmecánico" },
        { value: "3", label: "Mecánico Automotriz" },
        { value: "4", label: "Línea Madera" },
        { value: "5", label: "Jardinería" },
        { value: "6", label: "General" },
      ]}
    />

    <Select
      id="businessType"
      name="businessType"
      label="Tipo de Negocio"
      options={[
        { value: "1", label: "Ferretería" },
        { value: "2", label: "Constructora - Contratista" },
        { value: "3", label: "Industria" },
        { value: "4", label: "Independiente" },
        { value: "5", label: "Otros" },
      ]}
    />

    <button
      type="submit"
      class="bg-amber-300 px-12 py-2 rounded-md font-bold mx-auto text-center text-lg hover:bg-amber-400 transition-colors col-span-2"
    >
      Inscribirme
    </button>
  </form>

  {
    !!result?.data && (
      <div
        class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mt-4 rounded-lg"
        role="alert"
      >
        <div class="flex">
          <div class="py-1">
            <svg
              class="fill-current h-6 w-6 text-teal-500 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
            </svg>
          </div>
          <div>
            <p class="font-bold">Éxito!</p>
            <p class="text-sm">
              Te has registrado correctamente, se te enviará un correo con los datos de la inscripción.
            </p>
          </div>
        </div>
      </div>
    )
  }
</div>
