---
import Input from "./form/Input.astro";
---

<div class="container mx-auto mt-4 px-4 pb-[10rem] max-w-[50rem]">
  <form action="" class="grid grid-cols-1 gap-y-8" method="post">
    <Input id="cedula" name="cedula" label="Cédula" placeholder="Cédula" />

    <Input id="name" name="name" label="Nombres" placeholder="Nombre" />

    <Input id="lastName" name="lastName" label="Apellidos" placeholder="Apellido" />

    <Input id="firstname" type="email" name="email" label="Email" placeholder="Email" />

    <Input id="tel" type ="tel" name="phone" label="Teléfono" placeholder="Teléfono" />

    <button type="submit" class="mt-4 bg-amber-300 px-12 py-2 rounded-md font-bold mx-auto text-center text-lg hover:bg-amber-400 transition-colors">
      Enviar Datos
    </button>
  </form>
</div>
