---
import Input from "./form/Input.astro";
import Select from "./form/Select.astro";
import { actions } from "astro:actions";
import Alert from "./ui/Alert.astro";
import type { FormType } from "@/interfaces/FormType";
import ScreenLoader from "./shared/ScreenLoader.astro";

interface Props {
  formType: FormType;
}

const result = Astro.getActionResult(actions.sendEmail);

const { formType } = Astro.props;
---

<div class="container mx-auto mt-4 px-4 max-w-[50rem]">
  <form
    id="registrationForm"
    method="post"
    action={actions.sendEmail}
    class="grid grid-cols-2 gap-8 [&>div]:col-span-1"
  >
    <Input id="formType" name="formType" label="Tipo de Formulario" type="hidden" value={formType} />

    <Input id="cedula" name="cedula" label="Cédula" placeholder="Cédula" />

    <Input id="name" name="name" label="Nombres" placeholder="Nombre" />

    <Input
      id="lastName"
      name="lastName"
      label="Apellidos"
      placeholder="Apellido"
    />

    <Input
      id="bornDate"
      name="bornDate"
      label="Fecha de Nacimiento"
      type="date"
      placeholder="Fecha de Nacimiento"
    />

    <Input
      id="firstname"
      type="email"
      name="email"
      label="Email"
      placeholder="Email"
    />

    <Input
      id="tel"
      type="tel"
      name="phone"
      label="Teléfono"
      placeholder="Teléfono"
    />

    <Select
      id="major"
      name="major"
      label="Especialidad"
      options={[
        { value: "Eléctrico", label: "Eléctrico" },
        { value: "Metalmecánico", label: "Metalmecánico" },
        { value: "Mecánico Automotriz", label: "Mecánico Automotriz" },
        { value: "Línea Madera", label: "Línea Madera" },
        { value: "Jardinería", label: "Jardinería" },
        { value: "General", label: "General" },
      ]}
    />

    <Select
      id="businessType"
      name="businessType"
      label="Tipo de Negocio"
      options={[
        { value: "Ferretería", label: "Ferretería" },
        {
          value: "Constructora - Contratista",
          label: "Constructora - Contratista",
        },
        { value: "Industria", label: "Industria" },
        { value: "Independiente", label: "Independiente" },
        { value: "Otros", label: "Otros" },
      ]}
    />

    <button
      type="submit"
      class="bg-amber-300 px-12 py-2 rounded-md font-bold mx-auto text-center text-lg hover:bg-amber-400 transition-colors col-span-2"
    >
      Inscribirme
    </button>
  </form>

  {
    !!result?.data && (
      <Alert
        alertTitle="Éxito!"
        alertMessage="Te has registrado correctamente, se te enviará un correo con los datos de la inscripción."
      />
    )
  }

  <div class="max-h-40 overflow-auto">
    {
      !!result?.error && (
        <Alert
          alertTitle="Error!"
          html={result?.error.message.replaceAll(", ", "<br />")}
          type="error"
        />
      )
    }
  </div>

  <ScreenLoader />
</div>

<script>
  // document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("registrationForm") as HTMLFormElement;
    const loader = document.getElementById("loader") as HTMLDivElement;

    form.addEventListener("submit", () => {
      loader.classList.remove("hidden");
    });
  // });
</script>
