---
import { HomeAccordionContent } from "@/components/home/HomeAccordionContent";
import BrandCarousel from "@/components/brands/BrandCarousel.astro";
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/ui/Navbar.astro";
---

<Layout>
	<section
		class="flex flex-col items-center justify-center text-center w-full relative"
	>
		<!-- NAVBAR FROM CHILD -->
		<div
			slot="navbar"
			class="top-0 left-0 absolute w-full h-[calc(100vh-380px)]"
		>
			<Navbar title="Centro de Entrenamiento SBD" />
		</div>

		<div class="flex flex-col items-center justify-center w-full">
			<video
				transition:persist
				src="/assets/vids/video.mp4"
				autoplay
				loop
				muted
				class="object-cover min-h-dvh w-full object-center"></video>

			<div
				class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center"
			>
			</div>

			<div
				class="absolute -bottom-20 left-0 right-0 z-10 bg-amber-300 max-w-fit rounded-md px-12 2xl:px-8 py-4 text-center mx-auto flex flex-col items-center justify-center gap-2 shadow-md"
			>
				<p class="font-semibold mt-4">Hechos para durar</p>
				<h1 class="font-bold text-3xl md:text-4xl">Nuestras Marcas</h1>
				<p class="text-xs md:text-lg md:text-nowrap mb-2">
					Dedicados a hacer herramientas grandes y hacer un mejor mundo.
				</p>

				<!-- <div class="block 2xl:hidden"> -->
					<BrandCarousel />
				<!-- </div> -->
			</div>
		</div>
	</section>

	<div class="container mx-auto mt-28 px-4 pb-[10rem]">
		<section class="text-lg">
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi animi quae atque totam accusamus labore ad suscipit eveniet, quo itaque voluptates sunt, quos repellat dolorem ipsum sint architecto illo.
			</p>
		</section>
	</div>
</Layout>
