---
import '@/styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter />
	</head>
	<body>
		<!-- <Navbar /> -->
		<slot name="navbar" />

		<main>
			<slot />
		</main>

		<!-- whatssapp icon -->
		<a
			href="https://chat.whatsapp.com/C8838vbbWWlHrDbyJ7b75L"
			target="_blank"
			rel="noopener noreferrer"
			class="fixed bottom-12 right-14 z-50 flex items-center justify-center rounded-full bg-transparent p-2 shadow-md transition-all duration-300 hover:bg-green-500"
			aria-label="WhatsApp"
		>
		<img src="/assets/svgs/whatsapp.svg" alt="WhatsApp" class="w-12 h-12" />
	</a>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
