---
import '@/styles/global.css';
import { ClientRouter } from 'astro:transitions';
import { Toaster } from 'sonner'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter />
	</head>
	<body>
		<!-- <Navbar /> -->
		<slot name="navbar" />

		<main>
			<slot />
		</main>

		<!-- <ContacForm /> -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
